body {
  background-color: lightgrey;
/*   background-color: dimgray; */
}

.county {
/*   fill: lightgreen; */
  stroke: black;
  stroke-opacity: 0.4;
  stroke-width: 1;
}

#fruit-menu {
  position: absolute;
  top: 70px;
	left: 620px;
}

#year-menu {
  position: absolute;
  top: 100px;
	left: 620px;
}

#column-menu {
  position: absolute;
  top: 130px;
  left:620px;
}